 
  <!--div width="400" height="400">
    <canvas id="canvas">{{chart}}</canvas>
  </div-->
   

   
  <h4>Basic mat-select</h4>
  <mat-form-field appearance="fill">
    <mat-label>Selectionner category</mat-label>
    <mat-select>
      <mat-option *ngFor="let don of donneeHisto" [value]="don.category">
        {{don.valeurT}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  

            <ngx-charts-pie-chart 
                [results]="saleData"
                [legend]="true"
                [legendTitle]="'Product Sale Report'" 
                [view]="[1000,300]"
                [labels]="true" >
            </ngx-charts-pie-chart>
         
 