h1,h2{
    text-align: center;
}

mat-toolbar {
    background: #E74C3C;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background:  #99A3A4 ;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

mat-card {
    margin:10px;
    width:300px;
    height:30px;
    color:white;
    background: #F2F3F4;
    border-radius: 10px;
    font-size: small;
    display: flexbox;

}

.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 2rem;
    color: lightgray;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}

mat-icon {
    margin-right: 15px;
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 10%;
}

.name {
    margin-top: 10px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgray;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}