<!-- src\app\app.component.html -->
<!-- <app-sidenav>
  <div class="container">
    <h1 class="mat-display-3">Bateau de Thibault</h1>
    <h2 class="mat-display-1">---Back Office---</h2>
  </div>
</app-sidenav>-->
 <app-sidenav></app-sidenav>



<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>

  Application Back-Office
</mat-toolbar>

<mat-sidenav-container>
  
  <mat-sidenav #sidenav="matSidenav">

    <img class="avatar mat-elevation-z8" src="/Images/Logo Small.jpg">
    <h4 class="name">Bateau de Thibault</h4>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>view_list</mat-icon>
      <a href="/produit">Produits</a>
    </button>
    <button mat-button class="menu-button">
        <mat-icon>done_all</mat-icon>
        <a href="stock">Stock</a>
    </button>
    <button mat-button class="menu-button">
        <mat-icon>timelapse</mat-icon>
        <a href="historique">Historique</a>
    </button>


    <button mat-button class="menu-button">
        <mat-icon>help</mat-icon>
        <span>Aide</span>
    </button>
  </mat-sidenav>
  <router-outlet></router-outlet>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      
        <mat-card>

        </mat-card>
        <mat-card>

        </mat-card>
        <mat-card>
          
        </mat-card>
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>