<mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
    <mat-tab label="Produits">
        <table mat-table [dataSource]="listeProduits"  class="mat-elevation-z8">
            
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nom </th>
                <td mat-cell *matCellDef="let produit"> {{produit.name}} </td>
            </ng-container>
        
            <ng-container matColumnDef="détail">
                <th mat-header-cell *matHeaderCellDef> Détails </th>
                <td mat-cell *matCellDef="let produit">
                    <button mat-icon-button color="primary" (click)="allerVersDetail(produit)">
                        <mat-icon>forward</mat-icon>
                    </button>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-tab>
    <mat-tab label="Détails">
        <mat-card>
            <mat-card-title>{{ produit.name }}</mat-card-title>
            <mat-card-subtitle>{{ produit.comments }}</mat-card-subtitle>
            <mat-card-content>
              <p>Prix:  {{ produit.price }} €</p>
              <ng-container *ngIf="produit.sale == true">
                <p style="color:crimson">Promotion: {{ produit.discount }} €</p>
                <p style="color:crimson">Reduction: {{ produit.percentage_reduc }} %</p>
              </ng-container>
              <p>Quantité en stock: {{ produit.quantityInStock }}</p>
              <p>Nombre d'articles vendus: {{ produit.quantitySold }}</p>
            </mat-card-content>
            <mat-card-actions>
                <mat-form-field appearance="fill">
                    <mat-label>Modifier Stock</mat-label>
                    <input matInput type="number" [(ngModel)]="nombre[produit.tig_id]" min="0">
                </mat-form-field>
              <button mat-button (click)="modifStock(produit.tig_id, nombre[produit.tig_id])">Ajouter</button>
              <button mat-button (click)="reduireStock(produit.tig_id, nombre[produit.tig_id])">Réduire</button>
            </mat-card-actions>
            <mat-card-actions>
                <mat-form-field appearance="fill">
                    <mat-label>Nouvelle Promotion</mat-label>
                    <input matInput type="number" [(ngModel)]="promo[produit.tig_id]" min="0">
                </mat-form-field>
                <button mat-button (click)="mettrePromo(produit.tig_id, promo[produit.tig_id])">Mettre en Promo</button>
                <button mat-button (click)="enleverPromo(produit.tig_id)">Enlever Promo</button>
            </mat-card-actions>
          </mat-card>
    </mat-tab>
</mat-tab-group>
  



