<mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
    <mat-tab label="Poissons">
        <table mat-table [dataSource]="triTableau(0)"  class="mat-elevation-z8">
            
            <!-- Position Column -->
            <ng-container matColumnDef="no.">
                <th mat-header-cell *matHeaderCellDef> Numéro </th>
                <td mat-cell *matCellDef="let produit"> {{produit.id}} </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nom </th>
                <td mat-cell *matCellDef="let produit"> {{produit.name}} </td>
            </ng-container>
            
            <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef> Commentaire </th>
                <td mat-cell *matCellDef="let produit"> {{produit.comments}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Prix </th>
                <td mat-cell *matCellDef="let produit"> {{produit.price}} € </td>
            </ng-container>
        
            <ng-container matColumnDef="détail">
                <th mat-header-cell *matHeaderCellDef> Détails </th>
                <td mat-cell *matCellDef="let produit">
                    <button mat-icon-button color="primary" (click)="allerVersDetail(produit.id)">
                        <mat-icon>forward</mat-icon>
                    </button>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-tab>
    <mat-tab label="Coquillages">
        <table mat-table [dataSource]="triTableau(1)"  class="mat-elevation-z8">
            
            <!-- Position Column -->
            <ng-container matColumnDef="no.">
                <th mat-header-cell *matHeaderCellDef> Numéro </th>
                <td mat-cell *matCellDef="let produit"> {{produit.id}} </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nom </th>
                <td mat-cell *matCellDef="let produit"> {{produit.name}} </td>
            </ng-container>
            
            <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef> Commentaire </th>
                <td mat-cell *matCellDef="let produit"> {{produit.comments}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Prix </th>
                <td mat-cell *matCellDef="let produit"> {{produit.price}} € </td>
            </ng-container>
        
            <ng-container matColumnDef="détail">
                <th mat-header-cell *matHeaderCellDef> Détails </th>
                <td mat-cell *matCellDef="let produit">
                    <button mat-icon-button color="primary">
                        <mat-icon>forward</mat-icon>
                    </button>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-tab>
    <mat-tab label="Crustaces">
        <table mat-table [dataSource]="triTableau(2)"  class="mat-elevation-z8">
            
            <!-- Position Column -->
            <ng-container matColumnDef="no.">
                <th mat-header-cell *matHeaderCellDef> Numéro </th>
                <td mat-cell *matCellDef="let produit"> {{produit.id}} </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nom </th>
                <td mat-cell *matCellDef="let produit"> {{produit.name}} </td>
            </ng-container>
            
            <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef> Commentaire </th>
                <td mat-cell *matCellDef="let produit"> {{produit.comments}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Prix </th>
                <td mat-cell *matCellDef="let produit"> {{produit.price}} € </td>
            </ng-container>
        
            <ng-container matColumnDef="détail">
                <th mat-header-cell *matHeaderCellDef> Détails </th>
                <td mat-cell *matCellDef="let produit">
                    <button mat-icon-button color="primary">
                        <mat-icon>forward</mat-icon>
                    </button>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-tab>
    <mat-tab label="Détails">
        <table mat-table [dataSource]="getProduit()"  class="mat-elevation-z8">
            
            <!-- Position Column -->
            <ng-container matColumnDef="no.">
                <th mat-header-cell *matHeaderCellDef> Numéro </th>
                <td mat-cell *matCellDef="let produit"> {{produit.id}} </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nom </th>
                <td mat-cell *matCellDef="let produit"> {{produit.name}} </td>
            </ng-container>
            
            <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef> Commentaire </th>
                <td mat-cell *matCellDef="let produit"> {{produit.comments}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Prix </th>
                <td mat-cell *matCellDef="let produit"> {{produit.price}} € </td>
            </ng-container>
        
            <ng-container matColumnDef="détail">
                <th mat-header-cell *matHeaderCellDef> Détails </th>
                <td mat-cell *matCellDef="let produit">
                    <button mat-icon-button color="primary">
                        <mat-icon>forward</mat-icon>
                    </button>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-tab>
</mat-tab-group>
  



