<mat-tab-group>
    <mat-tab label="Poissons">
        <table mat-table [dataSource]="triTableau(0)"  class="mat-elevation-z8">
            
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nom </th>
                <td mat-cell *matCellDef="let produit"> {{ produit.name }} </td>
            </ng-container>
        
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Prix </th>
                <td mat-cell *matCellDef="let produit"> {{ produit.price }} €</td>
            </ng-container>

            <ng-container matColumnDef="price_on_sale">
                <th mat-header-cell *matHeaderCellDef> Promotion </th>
                <td mat-cell *matCellDef="let produit" style="color:crimson"> 
                    <ng-container *ngIf="produit.sale == true">{{ produit.discount }} €</ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="discount">
                <th mat-header-cell *matHeaderCellDef> Réduction </th>
                <td mat-cell *matCellDef="let produit" style="color:crimson"> 
                    <ng-container *ngIf="produit.sale == true">{{ produit.percentage_reduc }}%</ng-container> 
                </td>
            </ng-container>

            <ng-container matColumnDef="quantity_stock">
                <th mat-header-cell *matHeaderCellDef> Quantité </th>
                <td mat-cell *matCellDef="let produit"> {{ produit.quantityInStock }} </td>
            </ng-container>

            <ng-container matColumnDef="quantity_sold">
                <th mat-header-cell *matHeaderCellDef> Vendu </th>
                <td mat-cell *matCellDef="let produit"> {{ produit.quantitySold }} </td>
            </ng-container>

            <ng-container matColumnDef="comments">
                <th mat-header-cell *matHeaderCellDef> Commentaire </th>
                <td mat-cell *matCellDef="let produit"> {{ produit.comments }} </td>
            </ng-container>

            <ng-container matColumnDef="input">
                <th mat-header-cell *matHeaderCellDef>Modifier Stock</th>
                <td mat-cell *matCellDef="let produit"> 
                    <input matInput type="number" [(ngModel)]="nombre[produit.tig_id]" style="width: 40px" min="0">
                    <button mat-icon-button (click)="ajoutStock(produit.tig_id, nombre[produit.tig_id])">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button mat-icon-button (click)="reduireStock(produit.tig_id, nombre[produit.tig_id])">
                        <mat-icon>remove</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="input2">
                <th mat-header-cell *matHeaderCellDef>Modifier Promo</th>
                <td mat-cell *matCellDef="let produit"> 
                    <input matInput type="number" [(ngModel)]="promo[produit.tig_id]" style="width: 40px" min="0">
                    <button mat-icon-button (click)="modifPromo(produit.tig_id, promo[produit.tig_id])">
                        <mat-icon>add_box</mat-icon>
                    </button>
                    <button mat-icon-button (click)="removePromo(produit.tig_id)">
                        <mat-icon>clear</mat-icon>
                    </button>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedDetailCol"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedDetailCol;"></tr>
        </table>
    </mat-tab>
    <mat-tab label="Coquillages">
        <table mat-table [dataSource]="triTableau(1)"  class="mat-elevation-z8">
            
             <!-- Name Column -->
             <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nom </th>
                <td mat-cell *matCellDef="let produit"> {{ produit.name }} </td>
            </ng-container>
        
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Prix </th>
                <td mat-cell *matCellDef="let produit"> {{ produit.price }} €</td>
            </ng-container>

            <ng-container matColumnDef="price_on_sale">
                <th mat-header-cell *matHeaderCellDef> Promotion </th>
                <td mat-cell *matCellDef="let produit" style="color:crimson"> 
                    <ng-container *ngIf="produit.sale == true">{{ produit.discount }} €</ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="discount">
                <th mat-header-cell *matHeaderCellDef> Réduction </th>
                <td mat-cell *matCellDef="let produit" style="color:crimson"> 
                    <ng-container *ngIf="produit.sale == true">{{ produit.percentage_reduc }}%</ng-container> 
                </td>
            </ng-container>

            <ng-container matColumnDef="quantity_stock">
                <th mat-header-cell *matHeaderCellDef>Quantité</th>
                <td mat-cell *matCellDef="let produit"> {{ produit.quantityInStock }} </td>
            </ng-container>

            <ng-container matColumnDef="quantity_sold">
                <th mat-header-cell *matHeaderCellDef> Vendu </th>
                <td mat-cell *matCellDef="let produit"> {{ produit.quantitySold }} </td>
            </ng-container>

            <ng-container matColumnDef="comments">
                <th mat-header-cell *matHeaderCellDef> Commentaire </th>
                <td mat-cell *matCellDef="let produit"> {{ produit.comments }} </td>
            </ng-container>

            <ng-container matColumnDef="input">
                <th mat-header-cell *matHeaderCellDef>Modifier Stock</th>
                <td mat-cell *matCellDef="let produit"> 
                    <input matInput type="number" [(ngModel)]="nombre[produit.tig_id]" style="width: 40px" min="0">
                    <button mat-icon-button (click)="ajoutStock(produit.tig_id, nombre[produit.tig_id])">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button mat-icon-button (click)="reduireStock(produit.tig_id, nombre[produit.tig_id])">
                        <mat-icon>remove</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="input2">
                <th mat-header-cell *matHeaderCellDef>Modifier Promo</th>
                <td mat-cell *matCellDef="let produit"> 
                    <input matInput type="number" [(ngModel)]="promo[produit.tig_id]" style="width: 40px" min="0">
                    <button mat-icon-button (click)="modifPromo(produit.tig_id, promo[produit.tig_id])">
                        <mat-icon>add_box</mat-icon>
                    </button>
                    <button mat-icon-button (click)="removePromo(produit.tig_id)">
                        <mat-icon>clear</mat-icon>
                    </button>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedDetailCol"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedDetailCol;"></tr>
        </table>
    </mat-tab>
    <mat-tab label="Crustaces">
        <table mat-table [dataSource]="triTableau(2)"  class="mat-elevation-z8">
            
             <!-- Name Column -->
             <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nom </th>
                <td mat-cell *matCellDef="let produit"> {{ produit.name }} </td>
            </ng-container>
        
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Prix </th>
                <td mat-cell *matCellDef="let produit"> {{ produit.price }} €</td>
            </ng-container>

            <ng-container matColumnDef="price_on_sale">
                <th mat-header-cell *matHeaderCellDef> Promotion </th>
                <td mat-cell *matCellDef="let produit" style="color:crimson"> 
                    <ng-container *ngIf="produit.sale == true">{{ produit.discount }} €</ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="discount">
                <th mat-header-cell *matHeaderCellDef> Réduction </th>
                <td mat-cell *matCellDef="let produit" style="color:crimson"> 
                    <ng-container *ngIf="produit.sale == true">{{ produit.percentage_reduc }}%</ng-container> 
                </td>
            </ng-container>

            <ng-container matColumnDef="quantity_stock">
                <th mat-header-cell *matHeaderCellDef> Quantité </th>
                <td mat-cell *matCellDef="let produit"> {{ produit.quantityInStock }} </td>
            </ng-container>

            <ng-container matColumnDef="quantity_sold">
                <th mat-header-cell *matHeaderCellDef> Vendu </th>
                <td mat-cell *matCellDef="let produit"> {{ produit.quantitySold }} </td>
            </ng-container>

            <ng-container matColumnDef="comments">
                <th mat-header-cell *matHeaderCellDef> Commentaire </th>
                <td mat-cell *matCellDef="let produit"> {{ produit.comments }} </td>
            </ng-container>

            <ng-container matColumnDef="input">
                <th mat-header-cell *matHeaderCellDef>Modifier Stock</th>
                <td mat-cell *matCellDef="let produit"> 
                    <input matInput type="number" [(ngModel)]="nombre[produit.tig_id]" style="width: 40px" min="0">
                    <button mat-icon-button (click)="ajoutStock(produit.tig_id, nombre[produit.tig_id])">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button mat-icon-button (click)="reduireStock(produit.tig_id, nombre[produit.tig_id])">
                        <mat-icon>remove</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="input2">
                <th mat-header-cell *matHeaderCellDef>Modifier Promo</th>
                <td mat-cell *matCellDef="let produit"> 
                    <input matInput type="number" [(ngModel)]="promo[produit.tig_id]" style="width: 40px" min="0">
                    <button mat-icon-button (click)="modifPromo(produit.tig_id, promo[produit.tig_id])">
                        <mat-icon>add_box</mat-icon>
                    </button>
                    <button mat-icon-button (click)="removePromo(produit.tig_id)">
                        <mat-icon>clear</mat-icon>
                    </button>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedDetailCol"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedDetailCol;"></tr>
        </table>
    </mat-tab>
</mat-tab-group>