// src/theme.scss

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap");

//Thème par défaut
$light-primary: mat-palette($mat-red, 400);
$light-accent: mat-palette($mat-blue-grey, 100);
$light-warn: mat-palette($mat-red, 900);

$theming-material-components-theme: mat-light-theme(
  $light-primary,
  $light-accent,
  $light-warn
);

//Dark mode
$dark-primary: mat-palette($mat-amber, A200, A100, A400);
$dark-accent: mat-palette($mat-blue-grey, 100);
$dark-warn: mat-palette($mat-red, 900);
$dark-theme: mat-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);

//Police customisé
$heading-font-family: "'Work Sans', sans-serif";
$typography: mat-typography-config(
  $display-4: mat-typography-level(112px, $font-family: $heading-font-family),
  $display-3: mat-typography-level(56px, $font-family: $heading-font-family),
  $display-2: mat-typography-level(45px, $font-family: $heading-font-family),
  $display-1: mat-typography-level(34px, $font-family: $heading-font-family),
  $headline: mat-typography-level(24px, $font-family: $heading-font-family),
  $title: mat-typography-level(20px, $font-family: $heading-font-family),
);
